body {
    background-color: #4e9e7f;
    background-color: #bfc6cc;
    color: white;
text-align: center;
}

.infoPanel {
display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 30px;
   font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

.rndStudentTeacherBtn {
    background-color:#143227;
    border-radius: 15px;
    color: white;
}

h1 {
font-family: "Playwrite NZ Guides", cursive;
  font-weight: 400;
  font-style: normal;
  border: 8px solid #b0884f;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #2a2a2a,
  inset 0 10px 8px -10px #2a2a2a,
inset 0 -10px 8px -10px #2a2a2a;
  background-color: #205843;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rndStudent, .lastStudents {
    background-color:#185b42;
    border-radius: 15px;
  box-shadow: 5px 5px 5px #2a2a2a,
  inset 0 10px 8px -10px #2a2a2a,
inset 0 -10px 8px -10px #2a2a2a;
    border: 8px solid #b0884f;
}

.objects {
    display: flex;
    justify-content: space-between;
}

.eraser {
    position: relative;
    bottom: 0;
    left: 15px;
}

.eraser-top {
    background-color: white;
    box-shadow: 3px 3px 3px #1d1d1d;
    width: 70px;
    height: 10px;
}

.eraser-bottom {
    width: 70px;
    height: 20px;
    background-color: #3a3a3a;
    box-shadow: 3px 3px 3px #1d1d1d;
}

.chalk {
position: relative;
bottom: 0;
right: 30px;
}

.chalk1 {
height: 10px;
width: 30px;
background-color: white;
box-shadow: inset 0 10px 8px -10px black,
inset 0 -10px 8px -10px black,
3px 3px 3px #1d1d1d;
}

.chalk2 {
position: relative;
height: 10px;
left: 10px;
width: 30px;
background-color: white;
box-shadow: inset 0 10px 8px -10px black,
inset 0 -10px 8px -10px black,
3px 3px 3px #1d1d1d;

}

.chalk3 {
position: relative;
height: 10px;
left: 5px;
height: 10px;
width: 30px;
background-color: white;
box-shadow: inset 0 10px 8px -10px black,
inset 0 -10px 8px -10px black,
3px 3px 3px #1d1d1d;
}



@media (max-width: 768px){
.infoPanel {
 grid-template-columns: 1fr;
}

.rndStudentH1 {
    order: 1;
}

.rndStudent {
    order: 2;
}
.lastFiveH1 {
    order: 3;
}
.lastStudent0 {
    order:4;
}
.lastStudent1 {
    order:5;
}
.lastStudent2 {
    order:6;
}
.lastStudent3 {
    order:7;
}
.lastStudent4 {
    order:8;
}
}